.container
  %div
    #map{:style => "height: 400px;"}
  %h1 All meetups
  - @meetups.each do |meetup|
    %p= meetup.title

:javascript
  var map = Gmaps.build('Google');
  map.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    map.fitMapToBounds();
  });
