%video#bgvid{autoplay: "autoplay", loop: "loop", muted: "muted", playsinline: "", poster: "https://i.vimeocdn.com/video/580641619.jpg"}
  %source{src: "https://gcs-vimeo.akamaized.net/exp=1519574329~acl=%2A%2F563398200.mp4%2A~hmac=ab2e41809420252d4b082584a778be552f82dd8c2166f6b857b7778af204866e/vimeo-prod-skyfire-std-us/01/4800/6/174002812/563398200.mp4", type: "video/mp4"}
