.container
  - if @found_users.present?
    - @found_users.each do |user|
      .card.mb-2
        .card-body
          %p= user.attributes
          %p= user.technologies.inspect
          %p= user.languages.inspect
  - else
    %h3 No results found
