/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
  margin: 0;
  background: #fff;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('main_video_poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#motto {
  color: white;
  margin-bottom: 45px;
}

.form-control{ padding: 15px; font-size: 20px; }

@media screen and (max-device-width: 800px) {
  html { background: url('main_video_poster.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.logo {
font-size: 50px;
}

.blue {
  color: #7ca3fd;
}

.grey {
  color: #555555;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    height: 70px;
    line-height: 20px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

.root-container {
  margin-top: 200px;
}

.img-circular{
 width: 150px;
 height: 150px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 display:block;
 margin:auto;
}
