<footer class="footer align-middle">
  <div class="container">
    <div class="text-muted" style="float:left;">Created with love as a part of Netguru Code College</div>
    <div class="text-muted" style="float:right;">© ITutor 2018 (we don't actually own the name or anything)</div>
  </div>
</footer>