<footer class="footer align-middle">
  <div class="container">
    <div class="text-muted" style="text-align:center">
      Created with love during Netguru Code College
      <br>
      © ITutor 2018
    </div>
  </div>
</footer>